@using Microsoft.Ajax.Utilities
@using Stuff.Models
@using Stuff.Objects
@model Stuff.Models.Department[]

@{
    ViewBag.Title = "Подразделения и сотрудники (отпуска)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var curYear = ViewBag.CurYear;
    var allDepartments = (bool) ViewBag.AllDepartments;
    var years = (int[]) ViewBag.Years;
    var user = (AdUser) ViewBag.User;
}
<div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="allDepartments" value="true" checked="@allDepartments">
            Все подразделения
        </label>
    </div>
    <div class="radio-inline">
        <label>
            <input type="radio" name="allDepartments" value="false" checked="@(!allDepartments)">
            Моё подразделение
        </label>
    </div>
</div>
<ul class="nav nav-tabs" id="yearTabs">
    @foreach (var year in years)
            {
        <li class="@(year == curYear ? "active" : "")"><a href="@Url.Action("EmployeesRestHolidays", "Department", new {year})">@year</a></li>
    }
</ul>
<div class="tab-content">
    <div id="year@(curYear)" class="tab-pane active">
        <p>
            <span class="text-danger">@ViewData["ServerError"]</span>
        </p>
        @if (Model.Any())
        {
            <table id="depList" class="table table-bordered no-padding">
                <tr class="bg-primary">
                    <th class="min-width">№</th>
                    <th class="width-20p">Подразделение</th>
                    <th>Руководитель</th>
                    <th>Сотрудники</th>
                </tr>
                @{int i = 0;}
                @foreach (Department dep in Model)
                {
                    i++;
                    <tr>
                        <th>@i</th>
                        <td>@dep.Name</td>
                        <td nowrap>
                            @dep.Chief.DisplayName
                            @if (allDepartments==false && dep.Chief.AdSid==user.Sid)
                            {
                                <br/>
                                <button id="submitRestHolidays" type="button" class="btn btn-success" departmentId ="@dep.Id" style="display: none">
                                    <i class="fa fa-check">&nbsp;Утвердить</i>
                                </button>
                            }
                        </td>
                        <td department="@dep.Id" name="depTable"></td>
                    </tr>
                }
            </table>
                    }  
    </div>
</div>


@section scripts
{

    <script type="text/javascript">
        $(document).ready(function() {
            init();

        });

        function init() {
            $("[name='allDepartments']").change(function() {
                var url = "@Url.Action("EmployeesRestHolidays", new {year = curYear})&allDepartments=" + $(this).val();
                window.location.href = url;
            });
            $('[name="depTable"]').map(function () {
                var dep = $(this).attr("department");
                var elem = $(this);
                elem.text("Загрузка...");
                var url = "@Url.Action("EmployeesRestHolidaysTable","Department")?departmentId=" + dep + "&curYear=@curYear";
                var loadCount = 0;
                loadDepartment(loadCount, elem, url, dep);
            });

            $("[id='submitRestHolidays']").click(function() {
                var dep = $(this).attr("departmentId");
                var idArray = [];
                $("[rowtype='restHolidayRow']", $("[department='" + dep + "']")).each(function() {
                   idArray.push($(this).attr("restHolidayId"));
                });
                $("[rowtype='restHolidayRow']", $("[department='" + dep + "']")).addClass("bg-danger");
                if (confirm("Are You Sure?")) {
                    var btn = this;
                    $(btn).hide();
                    $.ajax({
                        url: "@Url.Action("SubmitEmployeesRestHolidays")",
                        method: "POST",
                        dataType: "json",
                        data: JSON.stringify(idArray),
                        contentType: 'application/json; charset = utf-8 ',
                        success: function(data) {
                            if (data.Success) {
                                $("[rowtype='restHolidayRow']", $("[department='" + dep + "']")).removeClass("bg-danger bg-success");
                                $("[rowtype='restHolidayRow']", $("[department='" + dep + "']")).addClass("bg-warning");
                            } else {
                                $(btn).show();
                                alert(data.Message);
                                $("[rowtype='restHolidayRow']", $("[department='" + dep + "']")).removeClass("bg-danger");
                            }
                        },
                        error: function (data) {
                            alert(data.statusText);
                            $(btn).show();
                        }
                    });
                } else {
                    $("[rowtype='restHolidayRow']", $("[department='" + dep + "']")).removeClass("bg-danger");
                }
            });
        }

        function loadDepartment(loadCount,elem,url, dep) {
            $.ajax({
                url: url,
                dataType: 'html',
                success: function (data) {
                    elem.html(data);
                    var restHolidaysRows = [];
                    $("[rowtype='restHolidayRow'].bg-success", elem).each(function () {
                        restHolidaysRows.push($(this).attr("restHolidayId"));
                    });
                    if (restHolidaysRows.length>0) {
                        $("[departmentId='" + dep + "']").show();
                    }
                },
                error: function (errorData) {
                    if (loadCount < 3) {
                        loadCount++;
                        setTimeout(loadDepartment(loadCount, elem, url), 1000);
                    } else {
                        elem.html("<span class='alert-danger'>" + errorData.statusText + "</span>");
                    }
                }
            });
        }
    </script>

}