@using Stuff.Objects
@model Stuff.Models.Employee

@{
    ViewBag.Title = "Карточка сотрудника";
    Layout = "~/Views/Shared/_Editor.cshtml";
    bool userCanEdit = ViewBag.CurUser.UserCanEdit();
}

@section PanelHead
{
    @if (userCanEdit)
    {
        <span class="pull-right"><a class="btn btn-link" href="@Url.Action("Edit", new {id = Model.Id})">@*<i class="fa fa-edit"></i>&nbsp;*@изменить</a></span>
    }
    @Html.Label(Model.FullName)
    @if (ViewBag.CurUser.UserIsAdmin())
    {
        <small>
            @Html.Label(Model.AdSid)
        </small>
    }

    <p>
        @*<small>
            @Html.LabelFor(m=>m, Model.EmpState.Name)</small>*@
    </p>
}

@section PanelBody
{
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="emp-photo"><img id="photo" src="@DbModel.OdataServiceUri/Employee/GetPhoto?id=@Model.Id" /></div>
        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">дата рождения:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.BirthDate != null ? String.Format("{0:dd MMMM}", Model.BirthDate.Value) : String.Empty)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">Стаж работы:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.DateCame.HasValue ? Model.ExpirenceString : String.Empty)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">почта:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm"><a href="mailto:@(Model.Email)">@Model.Email</a></div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">мобильный:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.MobilNum)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">внутренний:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.WorkNum)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">город:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.City.Name)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">юр. лицо:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.Organization.Name)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">подразделение:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.Department.Name)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">должность:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.Position.Name)</div>
            </div>
            <div class="row pad-t-sm-sm">
                <div class="col-lg-2 col-sm-12 text-center-sm text-right-lg">руководитель:</div>
                <div class="col-lg-10 col-sm-12 text-center-sm">@Html.LabelFor(m => m, Model.Manager.DisplayName)</div>
            </div>

            @*<table class="table table-condensed">
                <colgroup>
                    <col class="col-lg-1  col-sm-4" />
                    <col class="col-lg-4 col-sm-8" />
                </colgroup>
                <tr>
                    <td class="text-right">дата рождения:</td>
                    <td>@Html.LabelFor(m => m, Model.BirthDate != null ? String.Format("{0:dd MMMM}", Model.BirthDate.Value) : String.Empty)</td>
                </tr>
                <tr>
                    <td class="text-right">Стаж работы:</td>
                    <td>@Html.LabelFor(m => m, Model.DateCame.HasValue ? Model.ExpirenceString : String.Empty)</td>
                </tr>

                <tr>
                    <td class="text-right">почта:</td>
                    <td><a href="mailto:@(Model.Email)">@Model.Email</a></td>
                </tr>
                <tr>
                    <td class="text-right">мобильный:</td>
                    <td>@Html.LabelFor(m => m, Model.MobilNum)</td>
                </tr>
                <tr>
                    <td class="text-right">внутренний:</td>
                    <td>@Html.LabelFor(m => m, Model.WorkNum)</td>
                </tr>
                <tr>
                    <td class="text-right">город:</td>
                    <td>@Html.LabelFor(m => m, Model.City.Name)</td>
                </tr>
                <tr>
                    <td class="text-right">юр. лицо:</td>
                    <td>@Html.LabelFor(m => m, Model.Organization.Name)</td>
                </tr>
                <tr>
                    <td class="text-right">подразделение:</td>
                    <td>@Html.LabelFor(m => m, Model.Department.Name)</td>
                </tr>
                <tr>
                    <td class="text-right">должность:</td>
                    <td>@Html.LabelFor(m => m, Model.Position.Name)</td>
                </tr>
                <tr>
                    <td class="text-right">руководитель: </td>
                    <td>@Html.LabelFor(m => m, Model.Manager.DisplayName)</td>
                </tr>
            </table>*@
        </div>
    </div>
    @*Шарики на день рождения - убрали 01.03.2016*@
    @*@if (Model.BirthDate.HasValue && Model.BirthDate.Value.Day == DateTime.Now.Day && Model.BirthDate.Value.Month == DateTime.Now.Month)
    {
        <div class="clearfix"></div>
        <div>
            @Styles.Render("~/Content/birthday")
            <div class="love-container">
                <div class="love-box">
                    <div class="balloon red"></div>
                    <div class="text red">С</div>
                </div>
                <div class="love-box">
                    <div class="balloon blue"></div>
                    <div class="text blue"></div>
                </div>
                <div class="love-box">
                    <div class="balloon orange"></div>
                    <div class="text orange">д</div>
                </div>
                <div class="love-box">
                    <div class="balloon green"></div>
                    <div class="text green">н</div>
                </div>
                <div class="love-box">
                    <div class="balloon yellow"></div>
                    <div class="text yellow">е</div>
                </div>
                <div class="love-box">
                    <div class="balloon blue"></div>
                    <div class="text blue">м</div>
                </div>
                <div class="love-box">
                    <div class="balloon blue"></div>
                    <div class="text blue"></div>
                </div>
                <div class="love-box">
                    <div class="balloon red"></div>
                    <div class="text red">р</div>
                </div>
                <div class="love-box">
                    <div class="balloon yellow"></div>
                    <div class="text yellow">о</div>
                </div>
                <div class="love-box">
                    <div class="balloon orange"></div>
                    <div class="text orange">ж</div>
                </div>
                <div class="love-box">
                    <div class="balloon green"></div>
                    <div class="text green">д</div>
                </div>
                <div class="love-box">
                    <div class="balloon yellow"></div>
                    <div class="text yellow">е</div>
                </div>
                <div class="love-box">
                    <div class="balloon orange"></div>
                    <div class="text orange">н</div>
                </div>
                <div class="love-box">
                    <div class="balloon green"></div>
                    <div class="text green">и</div>
                </div>
                <div class="love-box">
                    <div class="balloon blue"></div>
                    <div class="text blue">я</div>
                </div>
                <div class="love-box">
                    <div class="balloon red"></div>
                    <div class="text red">!</div>
                </div>
            </div>

        </div>
    }*@


}

@section scripts
{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $(".balloon").hover(function () {
        //        $(this).next().show();
        //        //$(this).hide();
        //        $(this).hide("explode", { pieces: 6 }, 100);
        //    });
        //});

    </script>

}