@using Stuff.Models
@using System
@using System.Collections.Generic;
@using Microsoft.Ajax.Utilities
@using Stuff.Objects
@model IEnumerable<StatementPrint>
@{
    ViewBag.Title = "Список Служебок";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // bool userCanEdit = ViewBag.CurUser.UserCanEdit();
    bool userCanEdit = true;//ViewBag.CurUser.HasAccess(AdGroup.PersonalManager);
    var rp = new ResponseMessage();
    int id=0;
}
@if (userCanEdit)
{
    <table class="table table-bordered" id="statementPrints">
        <thead class="bg-primary">
        <tr>
            <th>
                №
            </th>
            <th class="search">
                Сотрудник
            </th>
            <th>
                Тип службки
            </th>
            <th>
                Причина отсутсвия
            </th>
            <th class="search" id="datepicker">
                Начало отсутсвия
            </th>
            <th>
                Выход на работу
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var statementPrint in Model)
{
    <tr>
        <td>
            @statementPrint.Id
        </td>
        <td>
            @statementPrint.Employee.DisplayName
        </td>
        <td>
            @StatementType.GetList().First(t => t.Id == statementPrint.IdStatementType).Name
        </td>
        <td>
            @statementPrint.Cause
        </td>
        <td>
            @(statementPrint.IdStatementType == 1
            ? statementPrint.DateBegin.ToString()
            : statementPrint.DateBegin.Value.ToShortDateString())
        </td>
        <td>
            @(statementPrint.IdStatementType==1 
            ? statementPrint.DateEnd.ToString()
            : statementPrint.DateEnd.Value.ToShortDateString())
        </td>
    </tr>
}
        </tbody>
        <tfoot></tfoot>

    </table>
    using (Html.BeginForm("StatementPrintList", "Document", FormMethod.Post, new { @id = "bcForm", @class = "form-horizontal", role = "form" }))
    {
        @Html.HiddenFor(i=>id, new {id="idInput"});
    }
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
        $('#statementPrints thead .search').each( function () {
            var cls = $(this)[0].id;
            var title = $(this)[0].innerText;
            $(this).html( '<input type="text" style="color:black"  placeholder="'+title+'" class="'+cls+'">');
        } );
        $(".datepicker").datepicker({
            format: "dd.mm.yyyy",
            autoclose: true,
            todayBtn: "linked",
            language: "ru"
        });
        // DataTable
        var table = $('#statementPrints').DataTable({"dom": '<"top"><"bottom">', "bJQueryUI": true });
 
        // Apply the search
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            });
            $('input', table.column(colIdx).header()).on('click', function (e) {
                e.stopPropagation();
            });
        });
        });
        $("body").scannerDetection(function(data) {
            $("#idInput").val(data);
            $("#bcForm").submit();
        });
    </script>
}