@using Stuff.Models
@model IEnumerable<Stuff.Models.RecruitCandidate>

@{
    ViewBag.Title = "Банк резюме";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a class="btn btn-primary" href="@Url.Action("CandidateNew")"><i class="fa fa-plus-circle"></i> новое резюме</a>
</p>


<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr class="bg-primary">
        <th class="min-width">ID</th>
        <th>ФИО</th>
        <th>Возраст</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th>Добавлено</th>
    </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (RecruitCandidate rc in Model)
            {
                <tr id="cnd-@rc.Id" cndid="@rc.Id" class="cursor-pointer">
                    <th>@rc.Id</th>
                    <td>
                        @rc.DisplayName
                    </td>
                    <td>@rc.Age</td>
                    <td>@rc.Phone</td>
                    <td>@rc.Email</td>
                    <td>@rc.DateCreate.ToString("dd.MM.yyyy")
                        <div><small>@rc.CreatorName</small></div></td>
                    @*<td>
                            <button name="del" class="btn btn-link btn-nopadding"><i class="fa fa-trash"></i></button>
                        </td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td>пусто</td>
            </tr>

        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('tr[cndid]').click(function () {
                var id = $(this).attr('cndid');
                window.location = '@Url.Action("CandidateCard")?id=' + id;
            });
            $('tr[cndid]').on('contextmenu', function () {
                var id = $(this).attr('cndid');
                window.open('@Url.Action("CandidateCard")?id=' + id);
            });
        })
    </script>
}




