@using Stuff.Helpers
@using Stuff.Models

@model IEnumerable<Coordination>

@{
    ViewBag.Title = "Заявки на подбор персонала ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int topRows = Request.QueryString["topRows"] != null ? Convert.ToInt32(Request.QueryString["topRows"]) : 30;
    int currPage = Request.QueryString["page"] != null ? Convert.ToInt32(Request.QueryString["page"]) : 1;
    int pageCount = (ViewBag.TotalCount / topRows);
    if (ViewBag.TotalCount % topRows > 0)
    {
        pageCount++;
    }
}

<div class="row">
    <div class="col-lg-5 col-sm-12 col-xs-12 hidden-sm hidden-xs">
        <div class="pull-left">
            <nav>
                <ul class="pagination no-marg pages">

                    <li name="page" class="@(currPage == 1 ? "disabled" : String.Empty)"><a href="@Url.Current(new {page = Convert.ToInt32(Request.QueryString["page"]) - 1})"><</a></li>

                    @for (int i = 1; i <= pageCount; i++)
                    {
                        if (i > 4)
                        {
                            <li name="page" class="@(i == currPage ? "active" : String.Empty)"><a href="@Url.Current(new {page = i})">...</a></li>
                            break;

                        }
                        else
                        {
                            <li name="page" class="@(i == currPage ? "active" : String.Empty)"><a href="@Url.Current(new {page = i})">@i</a></li>
                        }
                    }

                    <li name="page" class="@(currPage == pageCount ? "disabled" : String.Empty)"><a href="@Url.Current(new {page = Convert.ToInt32(Request.QueryString["page"]) + 1})">></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12 col-xs-12">
        <div id="stateFilterList"></div>
    </div>
    <div class="col-lg-2 col-sm-6 col-xs-6">
        <div>
            <div class="text-right">
                <nav>
                    <ul class="pagination pagesize no-marg">
                        <li><a name="pageSize" value="30" href="@Url.Current(new { topRows=30, page=1})" class="btn btn-default btn-sm selected">30</a></li>
                        <li><a name="pageSize" value="100" href="@Url.Current(new { topRows=100, page=1})" class="btn btn-default btn-sm">100</a></li>
                        <li><a name="pageSize" value="300" href="@Url.Current(new { topRows=300, page=1})" class="btn btn-default btn-sm">300</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<table id="candidateList" class="table table-bordered table-striped table-hover">
    <thead>
    <tr class="bg-primary">
        <th class="min-width">
            <input id="cid" class="form-control input-xs" placeholder="ID" value="@Request.QueryString["cid"]" style="width: 50px;"/>
        </th>
        <th>
            <input id="doc" class="form-control input-xs" placeholder="Документ" value="@Request.QueryString["doc"]" />
        </th>
        <th>
            <input id="init" class="form-control input-xs" placeholder="Инициатор" value="@Request.QueryString["init"]" />
        </th>
        <th>
            <input id="eDat" class="form-control input-xs" placeholder="Дата завершения" value="@Request.QueryString["eDat"]" />
        </th>
        <th>
            <input id="stat" class="form-control input-xs" placeholder="Ступень согласования" value="@Request.QueryString["stat"]"/>
        </th>
        <th>
            <input id="changed" class="form-control input-xs" placeholder="Изменено" value="@Request.QueryString["changed"]" />
        </th>
        <th>
            <input id="added" class="form-control input-xs" placeholder="Добавлено" value="@Request.QueryString["added"]"/>
        </th>
        <th class="min-width">
            <a href="@Url.Action("Coordinations")" class="btn btn-default btn-xs" title="Очистить фильтр"><i class="fa fa-refresh"></i></a>
        </th>
    </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Coordination rc in Model)
            {
                <tr id="cnd-@rc.id" cndid="@rc.id" class="cursor-pointer">
                    <th>@rc.id</th>
                    <td>
                        @rc.doc
                    </td>
                    <td>
                        @rc.creator
                    </td>
                    <td>
                        @if (rc.endDate.HasValue)
                        {
                            @rc.endDate.Value.ToString("dd.MM.yyyy")
                        }
                    </td>
                    <td>@rc.stat</td>
                    <td>
                        @if (rc.last_change_datetime.HasValue)
                        {
                            <strong>Изменено</strong>
                            <div><small>@rc.last_change_datetime.Value.ToString("dd.MM.yyyy  HH:mm")</small>
                            </div>
                        }
                    </td>
                    <td>
                        @if (rc.create_datetime.HasValue)
                        {
                            <strong>Добавлено</strong>
                            <div><small>@rc.create_datetime.Value.ToString("dd.MM.yyyy  HH:mm")</small>
                            </div>
                        }
                    </td>
                    @*<td>
                        <button name="del" class="btn btn-link btn-nopadding"><i class="fa fa-trash"></i></button>
                    </td>*@
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>пусто</td>
            </tr>

        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('tr[cndid]').click(function() {
                var id = $(this).attr('cndid');
                window.location = '@Url.Action("CoordinationCard")?id=' + id;
            });
            $('tr[cndid]').on('contextmenu', function() {
                var id = $(this).attr('cndid');
                window.open('@Url.Action("CoordinationCard")?id=' + id);
            });
            $('#candidateList thead tr input').keypress(function(e) {
                if (e.keyCode != 13) return;
                search();
            });
            $('[name="sex"]').click(function () {
                search();
            });
        });

        function search() {
            var curUrl = '@Request.RawUrl.Replace("&amp;", "&")';
            var url = curUrl;
            var cid = $('#cid').val();
            url = updateQueryStringParameter(url, 'cid', cid);
            var doc = $('#doc').val();
            url = updateQueryStringParameter(url, 'doc', doc);
            var init = $('#init').val();
            url = updateQueryStringParameter(url, 'init', init);
            var cDat = $('#eDat').val();
            url = updateQueryStringParameter(url, 'eDat', cDat);
            var stat = $('#stat').val();
            url = updateQueryStringParameter(url, 'stat', stat);
            var changed = $('#changed').val();
            url = updateQueryStringParameter(url, 'changed', changed);
            var added = $('#added').val();
            url = updateQueryStringParameter(url, 'added', added);
            url = updateQueryStringParameter(url, 'page', 1);
            window.location = url;
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            } else {
                return uri + separator + key + "=" + value;
            }
        }
    </script>
}




